body{
    font-family: "Baloo Paaji 2", sans-serif;
    font-weight: 300;
    color: #F3EEEA;
    background-color: #4f4840;
    padding: 20px;
}

.day-square, .day-square-disabled, .today{
    width: 30px;
    height: 30px;
    background-color: #4f4840;
    border: 1px solid #ada597;
    border-radius: 5px;
}
.today{
    background-color: #ada597;
    border: 1px solid #ada597;
    cursor: pointer;
}

.today:hover{
    transition: all 200ms ease-in-out;
    background-color: #938c81;
    border: 1px solid #938c81;
}

.day-square-disabled{
    background-color: #5e564d;
    border: 1px solid #5e564d;
}

.grid{
    display: flex;
    flex-flow: row wrap;
    gap: 7px;
}

.new-entry-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-flow: column wrap;
    margin: auto;
    width: 75%;
}

.register-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    flex-flow: column wrap;
    margin: auto;
    width: 100%;
    padding-top: 30px;
}

.registration-container{
    margin: auto;
    width: 50%;
    padding-top: 30px;
    text-align: center;
}

textarea{
    background-color: #4f4840;
    border: 1px solid #ada597;
    border-radius: 10px;
    color: #F3EEEA;
    font-size: 20px;
}

.input{
    border: 1px solid #ada597;
    padding: 8px;
    border-radius: 5px;
    width: 70%;
    color: #4f4840;
    background-color: #F3EEEA;
}


textarea:focus, .input:focus{
    outline: 3px solid #ada597;
}

label{
    text-align: right;
}
.submit-btn, .register-btn{
    background-color: #dfdad5;
    border: 1px solid #ada597;
    border-radius: 5px;
    color: #3e3c37;
    font-size: 20px;
}

.register-btn{
    color: #65625a;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nav-link{
    text-decoration: none;
    padding-left: 35px;
    font-size: 22px;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    width: 100%;
}
